@model PRO.UI.ViewModels.GameDetailsViewModel
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Shared/_GameTitleBar.cshtml" , model="Model.GameInfo.Game" />
<div id="content" class="userprofilecontent box-shadow window-background">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <partial name="~/Views/Shared/_GameInfoBar.cshtml" , model="Model.GameInfo" />
                <td valign="top" style="padding-left: 5px;">
                    <div class="js-scrollfix-bottom-rel">
                        <div style=" margin:0 auto"></div><a name="lower"></a>

                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="pb24">

                                        <div class="underlined_h2">
                                            <text class="">Wszystkie recenzje</text>
                                            <a style="float:right; text-decoration:none; font-weight:normal;" href="/games/@Model.GameInfo.Game.Id">Powrót</a>
                                            <a style="float:right; margin-right:5px; text-decoration:none; font-weight:normal;" href="/games/@Model.GameInfo.Game.Id/userreview">Twoja recenzja </a>
                                        </div>
                                        @{foreach (var item in Model.ReviewPlaytimes)
                                            {
                                                <partial name="~/Views/Shared/_SingleReview.cshtml" , model="item" />
                                                <div class="underlined_h2"></div>
                                            }
                                        }

                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                    <div>

                        <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.ReviewPlaytimes.Pagination" />
                    </div>

                    
                </td>
            </tr>
        </tbody>

    </table>

</div>

