@model PRO.UI.ViewModels.GameDetailsViewModel
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Shared/_GameTitleBar.cshtml" , model="Model.GameInfo.Game" />
<div id="content">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <partial name="~/Views/Shared/_GameInfoBar.cshtml" , model="Model.GameInfo" />
                <td valign="top" style="padding-left: 5px;">
                    <div class="js-scrollfix-bottom-rel">
                        <div style=" margin:0 auto"></div><a name="lower"></a>

                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="pb24">

                                        <div class="underlined_h2">
                                            <text class="">Wybrana recenzja</text>
                                            <a href="#" style="float:right; text-decoration:none; font-weight:normal;" onclick="javascript:window.history.back(-1);return false;">Powrót</a>
                                            @if ((ViewBag.CanEdit == true && User.Identity.IsAuthenticated) || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                            {
                                                <a asp-controller="Games"
                                                   asp-action="UserDelete"
                                                   asp-route-gameid="@Model.GameInfo.Game.Id"
                                                   asp-route-reviewid="@Model.ReviewPlaytimes[0].Review.Id"
                                                   style="float:right; text-decoration:none; font-weight:normal; margin-right:5px;">
                                                    Usuń
                                                </a>
                                                <a style="float:right; text-decoration:none; font-weight:normal; margin-right:5px;" href="/reviews/@Model.GameInfo.Game.Id/userreview/@Model.ReviewPlaytimes[0].Review.Id">Edytuj recenzję</a>
                                            }


                                        </div>
                                        @foreach (var item in Model.ReviewPlaytimes)
                                        {
                                            <partial name="~/Views/Shared/_SingleReview.cshtml" , model="item" />
                                            <div class="underlined_h2"></div>
                                        }



                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                    <div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>

</div>

