@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdź rejestrację";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klikniej tutaj aby potwierdzić rejestrację</a>
</p>
    }
    else
    {
<p>
        Sprawdź swój email i kliknij otrzymany link aby potwierdzić rejestrację.
</p>
    }
}
