@model IEnumerable<PRO.Entities.Game>
@using PRO.Domain.Extensions
<div class="side-list-group">
    <h3 class="sidebar-title list-title box-shadow">Nadchodzące premiery</h3>
    @{
        var comingGames = Model.ToList().Take(3);

        foreach (var game in comingGames)
        {
            <a href="/games/@game.Id" class="list-group-item list-group-item-action flex-column align-items-start box-shadow">
                <div style="display:flex; flex-direction:row; overflow:hidden; text-overflow:clip;">
                    @if (game.Image != null)
                    {<img style="max-width: 50px;max-height: 50%;align-self: flex-start;flex-direction: row;" class=" lazyloaded" src="/images/@game.Image.ImagePath">
                    }

                    <div style="padding-left: 15px;font-weight: 400;">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@game.Title</h5>
                        </div>
                        <p class="mb-1">@Html.Raw(@game.Description.Truncate(100)) ...</p>

                    </div>
                </div>


            </a>


        }
    }

</div>