@using Microsoft.AspNetCore.Identity
@using PRO.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="" style="margin-top: 15px;        display: flex;        flex-direction: row;">
    @if (SignInManager.IsSignedIn(User))
    {

        <div class="btn btn-primary my-2 my-sm-0" style="margin-right: 10px;">
            @Html.ActionLink("Witaj " + User.Identity.Name + "!", "UserProfile", "Users", routeValues: null, htmlAttributes: new { title = "Manage" })


        </div>

        <div class="">
            <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-secondary my-2 my-sm-0">Wyloguj</button>
            </form>
        </div>


    }
    else
    {

        <a class="btn btn-primary my-2 my-sm-0" style="margin-right: 10px;" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>


        <a class="btn btn-secondary my-2 my-sm-0" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>

    }
</div>
