@model IEnumerable<PRO.Entities.Review>
@using PRO.Domain.Extensions
<div class="side-list-group">
    <h3 class="sidebar-title">Najnowsze recenzje</h3>
    @{ var reviews = Model.ToList();
        if (reviews.Any())
        {
            for (var i = 0; i < 3; i++)
            {
                if (reviews.ElementAtOrDefault(i) != null)
                { <div>
                        <a href="/games/@reviews[i].GameId/reviews/@reviews[i].Id" class="list-group-item list-group-item-action flex-column align-items-start">

                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@reviews[i].Game.Title</h5>
                            </div>

                            <p class="mb-1" style="font-weight:400;">

                                @Html.Raw("<div style=\"font-weight:400;\">" + @reviews[i].Content.Truncate(120)+"..." + "</div>")
                            </p>



                            <small class="">@reviews[i].User.UserName</small>
                        </a>
                    </div> 
                   }

            }
        }
    }
</div>