
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table">
        <tbody>
            <tr class="table-header"><td class="rank">Zarządzaj</td></tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/articles/manage">Artykuły</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/companies/manage">Firmy</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/genres/manage">Gatunki</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/games/manage">Gry</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/awards/manage">Nagrody</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/images/manage">Obrazki</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/platforms/manage">Platformy</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/series/manage">Serie</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/tags/manage">Tagi</a></span>
                </td>
            </tr>
        </tbody>
    </table>