
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table">
    <tbody>
        <tr class="table-header"><td class="rank">Zarządzaj</td></tr>
        <tr class="ranking-list">
            <td class="rank ac" valign="top">
                <span class="lightLink top-game-rank-text manage"><a href="/userlists/manage">Listy użytkowników</a></span>
            </td>
        </tr>
        <tr class="ranking-list">
            <td class="rank ac" valign="top">
                <span class="lightLink top-game-rank-text manage"><a href="/reviews/manage">Recenzje</a></span>
            </td>
        </tr>
        <tr class="ranking-list">
            <td class="rank ac" valign="top">
                <span class="lightLink top-game-rank-text manage"><a href="/users/manage">Użytkownicy</a></span>
            </td>
        </tr>

    </tbody>
</table>