@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-bottom:15px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table box-shadow">
        <tbody>
            <tr class="table-header top-game-rank-text manage">
                <td class="rank ac">
                    <span style="font-size:24px;    margin-right: -40px;">Zarządzaj danymi użytkowników</span>
                    <div class="btn btn-secondary" style="float:right; margin-right:10px;"><a class="actionLinkManage" href="/panel">Powrót</a></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="padding-bottom:15px; padding-top:15px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table box-shadow">
        <tbody>
            <tr class="table-header"><td class="rank">Użytkownicy</td></tr>
        </tbody>
    </table>
</div>

<div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table box-shadow">
        <tbody>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/authors/manage">Autorzy</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/moderators/manage">Moderatorzy</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/users/manage">Użytkownicy</a></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="padding-bottom:15px; padding-top:15px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table box-shadow">
        <tbody>
            <tr class="table-header"><td class="rank">Listy użytkowników</td></tr>
        </tbody>
    </table>
</div>
<div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table box-shadow">
        <tbody>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/gamelists/manage">Gry na listach użytkowników</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/userlists/manage">Listy użytkowników</a></span>
                </td>
            </tr>

            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/listtypes/manage">Rodzaje list</a></span>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div style="padding-bottom:15px; padding-top:15px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table box-shadow">
        <tbody>
            <tr class="table-header"><td class="rank">Inne</td></tr>
        </tbody>
    </table>
</div>
<div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table box-shadow">
        <tbody>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/images/manage">Obrazki</a></span>
                </td>
            </tr>
            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/reviews/manage">Recenzje</a></span>
                </td>
            </tr>

            <tr class="ranking-list">
                <td class="rank ac" valign="top">
                    <span class="lightLink top-game-rank-text manage"><a href="/imagetypes/manage">Rodzaje obrazków</a></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>