@model PRO.Domain.Entities.ApplicationUser

<h1 class="main_h1 edit-info">
    <span class="h1-title">
        <span>
            <a href="/users/@Model.Id" style="text-decoration:none; color:black;">@Model.UserName</a>  
        </span>

    </span>
</h1>