@model PRO.Domain.Entities.ApplicationUser
@using Microsoft.AspNetCore.Identity
@using PRO.Domain.Entities
@using PRO.UI.Areas.Identity.Pages.Account.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="borderClass userprofile" style="border-width: 0 1px 0 0;" valign="top">
    <div class="userprofilebuttons">

        <div style="text-align: center;">
            @if (Model.Image != null)
            {<a>
                    <img style="max-width:200px; margin-top:20px;" class="lazyloaded" src="/images/@Model.Image.ImagePath">
                </a>}

        </div>
        <div class="clearfix mauto mt16" style="width:160px;padding-right:10px">
        </div>
        <div class="underlined_h2">Dołączył: </div><p>@Model.RegisterDate.ToShortDateString()</p>

        <div class="underlined_h2"></div>
        <div class="userprofileinnerbuttons">
            <a href="/users/gamelists/@Model.Id" class="btn btn-secondary userleftsidebuttons">Gry użytkownika</a>
            <a href="/users/userlists/@Model.Id" class="btn btn-secondary userleftsidebuttons">Listy użytkownika</a>
            @if (ViewBag.IsOwner != null && ViewBag.IsOwner == true)
            {
                <a href="/users/@Model.Id/profile" class="btn btn-primary userleftsidebuttons">Edytuj profil</a>
                <a href="/users/@Model.Id/password" class="btn btn-primary userleftsidebuttons">Zmień hasło</a>
                @if (hasExternalLogins)
                {
                    <a style="" class="btn btn-primary userleftsidebuttons" asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">Połączone konta</a>
                }
            }
        </div>

        <div class="clearfix mauto mt16" style="width:160px;padding-right:10px">
        </div>

    </div>
</div>
