@model PRO.UI.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "Profil użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1 class="main_h1 edit-info">
        <span class="h1-title">
            <span>
                @Model.ApplicationUser.UserName
            </span>

        </span>
    </h1>
</div>
<div id="content" class="userprofilecontent">
    
    @Html.Partial("_UserLeftSide", Model)

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>

                <td valign="top" style="padding-left: 5px;">
                    @Html.Partial("_UserProfileEdit", Model.EditUser)

                </td>

            </tr>
        </tbody>
    </table>
</div>